/* Add CSS Styling */
.odd {
    background-color: #ffb6c1;
    font-family: Verdana, sans-serif;
}

#blueText{
    color: #0077ff8c;
    font-size: 36px;
}

.font {
    font-size: 24px;
}

#lightGreen{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}